// input custom 
$input-btn-font-family: "Lato";
$input-btn-font-size: 18px;
$input-font-weight:bold;
$input-bg: #e7e7e7;
$input-group-addon-bg:#e7e7e7;
$input-border-color:#e7e7e7;

//buttom custom
$btn-font-family:"Lato";
$btn-font-weight:bold;

// color custom 
$blue: #3282f7;
$red: #ed6454;
$green: #68D9A4;

// $dropdown-link-color
$dropdown-link-hover-bg: transparent;

//arrow dropdown menu hide
.dropdown-toggle::after {
    display: none;
}

$dropdown-item-padding-x:10px;