@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@100&display=swap');

// heading custom 
$headings-font-family: "DM Sans",
sans-serif;
$headings-color: #d04f4f;
$h1-font-size: 38px;
$headings-font-weight: bold;

// input custom 
$input-btn-font-family: "Lato";
$input-btn-font-size: 18px;
$input-font-weight:bold;
$input-bg: #e7e7e7;
$input-group-addon-bg:#e7e7e7;
$input-border-color:#e7e7e7;